.title1 {
    padding-bottom: 25px;
    text-align: center;
}

img {
    position: relative;
    left: 50%;
    width: 30%;
    transform: translate(-50%, 0%);
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    background-color: black;
    color: aliceblue;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 28px;
}